*.pyc
__pycache__
*.log
*.o
*build*
/work_logs
/results
.vscode
.DS_Store
work_logs
*.jsonl
*.json
scratch/hf_models/
scratch/
images_metadata.csv
sam3.pt
datasets/coco_stuff164k/downloads/
datasets/coco_stuff164k/annotations/
datasets/coco_stuff164k/images/
